In [ ]:
### training the model with the clean dataset 'Algerian_Forest_Dataset_with_only_needed_cols'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
df=pd.read_csv('Algerian_Forest_Dataset_with_only_needed_cols.csv')

In [4]:
df.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,reigion
0,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [5]:
df['Classes'].value_counts()

Classes
fire             131
not fire         101
fire               4
fire               2
not fire           2
not fire           1
not fire           1
not fire           1
Name: count, dtype: int64

In [6]:
df['Classes']=np.where(df['Classes'].str.contains('not fire'),0,1)

In [7]:
df['Classes'].value_counts()

Classes
1    137
0    106
Name: count, dtype: int64

In [8]:
x=df.drop('FWI', axis=1)
y=df['FWI']

In [10]:
x.head()

   Temperature  RH  Ws  Rain  FFMC  DMC    DC  ISI  BUI  Classes  reigion
0           29  57  18   0.0  65.7  3.4   7.6  1.3  3.4        0        0
1           29  61  13   1.3  64.4  4.1   7.6  1.0  3.9        0        0
2           26  82  22  13.1  47.1  2.5   7.1  0.3  2.7        0        0
3           25  89  13   2.5  28.6  1.3   6.9  0.0  1.7        0        0
4           27  77  16   0.0  64.8  3.0  14.2  1.2  3.9        0        0

In [11]:
y.head()

0    0.5
1    0.4
2    0.1
3    0.0
4    0.5
Name: FWI, dtype: float64

In [12]:
### train test split

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25, random_state=42)

In [13]:
x_train

     Temperature  RH  Ws  Rain  FFMC   DMC    DC   ISI   BUI  Classes  reigion
97            29  74  19   0.1  75.8   3.6  32.2   2.1   5.6        0        0
141           31  72  14   0.2  60.2   3.8   8.0   0.8   3.7        0        1
192           40  31  15   0.0  94.2  22.5  46.3  16.6  22.4        1        1
68            32  60  18   0.3  77.1  11.3  47.0   2.2  14.1        0        0
119           32  47  14   0.7  77.5   7.1   8.8   1.8   6.8        0        0
..           ...  ..  ..   ...   ...   ...   ...   ...   ...      ...      ...
106           24  82  15   0.4  44.9   0.9   7.3   0.2   1.4        0        0
14            28  80  17   3.1  49.4   3.0   7.4   0.4   3.0        0        0
92            25  76  17   7.2  46.0   1.3   7.5   0.2   1.8        0        0
179           34  59  16   0.0  88.1  19.5  47.2   7.4  19.5        1        1
102           30  77  21   1.8  58.5   1.9   8.4   1.1   2.4        0        0

[182 rows x 11 columns]

In [14]:
x_test

     Temperature  RH  Ws  Rain  FFMC   DMC    DC  ISI   BUI  Classes  reigion
24            31  64  15   0.0  86.7  14.2  63.8  5.7  18.3        1        0
6             33  54  13   0.0  88.2   9.9  30.5  6.4  10.9        1        0
152           28  58  18   2.2  63.7   3.2   8.5  1.2   3.3        0        1
232           34  58  13   0.2  79.5  18.7  88.0  2.1  24.4        0        1
238           30  65  14   0.0  85.4  16.0  44.5  4.5  16.9        1        1
..           ...  ..  ..   ...   ...   ...   ...  ...   ...      ...      ...
162           34  56  15   2.9  74.8   7.1   9.5  1.6   6.8        0        1
178           33  57  16   0.0  87.5  15.7  37.6  6.7  15.7        1        1
224           31  72  14   0.0  84.2   8.3  25.2  3.8   9.1        1        1
230           36  33  13   0.1  90.6  25.8  77.8  9.0  28.2        1        1
154           34  56  17   0.1  84.7   9.7  27.3  4.7  10.3        1        1

[61 rows x 11 columns]

In [15]:
y_train

97      0.9
141     0.3
192    21.6
68      2.6
119     0.9
       ...
106     0.0
14      0.1
92      0.1
179    10.9
102     0.3
Name: FWI, Length: 182, dtype: float64

In [16]:
y_test

24      8.4
6       7.2
152     0.5
232     3.8
238     6.5
       ...
162     0.8
178     9.0
224     3.9
230    15.4
154     5.2
Name: FWI, Length: 61, dtype: float64

In [17]:
x_train.shape, x_test.shape

((182, 11), (61, 11))

In [18]:
y_train.shape, y_test.shape

((182,), (61,))